<nav class="nav navbar-default" role="navigation">
    <!--   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to 'Home', home_path %> 
          </li>
          <li class="nav-item">
            <%= link_to 'New Movie', new_movie_path %>
          </li>
          <li class="nav-item">
            <%= link_to 'Account', edit_user_registration_path %>
          </li>
          <% else %>
            <li class="nav-item active">
            <%= link_to 'Sign Up', new_user_registration_path %> 
          </li>
          <li class="nav-item">
            <%= link_to 'Sign In', new_user_session_path %>
          </li>
          <% end %>
        </ul>
        
        <%= form_tag search_movies_path, method: :get, class:"navbar-form navbar-right", role: "search"  do %>
        <p>
        	<%= text_field_tag :search, params[:search], class: "form-control" %>
        	<%= submit_tag "Search", name: nil, class: "btn btn-default" %>
        </p>
        <% end%>
        
      </div>
    </nav>
